:root {
    --primary-color: #2947A9;
}

body {
    font-family: "Work Sans";
}

.container {
    margin: auto;
    max-width: 1486px;
}

.header__content {
    display: flex;
    margin: 16px 0;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 14px;
}

.header__logo-title {
    font-weight: 700;
    font-style: italic;
    align-self: center;
    color: var(--primary-color);
    font-size: 30px;
}

.nav__content {
    list-style-type: none;
    display: flex;
    gap: 50px;
}

.nav__link {
    font-size: 18px;
    cursor: pointer;
    color: #000000;
    text-decoration: none;
}

.nav__link--contacts {
    font-weight: 600;
    color: #f9995d;
}

.nav__link:hover {
    text-decoration: underline;
}

.gallery {
    position: relative;
    min-height: 640px;
}

.gallery__content {
    position: absolute;
    height: 100%;
    width: 100%;
}

.gallery__image {
    background-image: url("assets/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40%;
    height: 100%;
}

.gallery__mask {
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.90) 15.1%, rgba(255, 255, 255, 0.00) 82.29%);
}

.gallery__text {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 220px;
    font-size: 72px;
    font-weight: 600;
    max-width: 556px;
}

.gallery__manager {
    max-width: 416px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    color: white;
}

.gallery__manager-body {
    box-sizing: border-box;
    padding: 20px 0 26px;
    display: flex;
    flex-direction: column;
    min-height: 150px;
    align-items: center;
    background-color: var(--primary-color);
    gap: 20px;
}

.gallery__manager-header {
    font-size: 20px;
    font-weight: 700;
}

.gallery__manager-text {
    font-size: 24px;
    width: 72%;
    text-align: center;
}

.gallery__controls {
    display: flex;
    gap: 1px;
    background-color: white;
}

.gallery__control {
    background-color: #292E3D;
    width: 50%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

.gallery__control_arrow {
    width: 26px;
    height: 17px;
}

.manager-container {
    background-color: #F6F8F7;
    padding: 28px 0 50px;
}

.manager-wrapper {
    margin: auto;
    max-width: 520px;
}

.manager-container__header {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 26px;
}

.task-manager {
    box-sizing: border-box;
    background-color: white;
    padding: 11px 20px;
    border-radius: 10px;
}

.task-manager__header {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 30px;
}

.task-manager-controller {
    display: flex;
    gap: 15px;
    justify-content: space-between;
}

.task-manager-btn {
    color: #fff;
    box-sizing: border-box;
    background-color: var(--primary-color);
    padding: 10px 25px;
    border-radius: 10px;
}

.task-manager-input {
    width: 50%;
}